extends layout.pug
include mixins/_movieCard

block content
  main 
    section.description
      h1= header
      div= description
    if movies && movies.length > 0 
      ul.movies-container
        each movie, index in movies
          +movieCard(movie, index)
    else
      h2 Sorry, no results.
      if noList.length > 0
        each list in noList
          p The list of #{noList[0]} films couldn't be found.
          if noList[0] == "Leaving"
            p This probably means the list isn't out yet.

  script(src="./js/spinner.js" type="module") 
  script(src="./js/hamburger.js", type="module") 