include mixins/_spinner
include mixins/_skipToContent
include mixins/_pageHeader

doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Criterion Must Watch
    link(rel='stylesheet', href='css/styles.css', type='text/css')
  body
    +spinner()
    +skipToContent()
    +pageHeader()

    block content