@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900|Spectral:400,500,600,700");
:root {
  --main-color: 255,255,255;
  --circle-dimensions: 120px;
  --circle-thickness: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
}

body {
  background-color: #000;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;
}
body.hide-spinner {
  overflow: auto;
}
body.hide-spinner .spinner {
  display: none;
}

.spinner {
  position: absolute;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: grid;
  place-content: center;
}
.spinner .circle-wrapper {
  position: relative;
  width: var(--circle-dimensions);
  height: var(--circle-dimensions);
  left: 50%;
  transform: translateX(-50%);
}
.spinner .circle-wrapper .circle {
  width: var(--circle-dimensions);
  height: var(--circle-dimensions);
  border-radius: 50%;
  border: var(--circle-thickness) solid rgb(var(--main-color));
  border-right: var(--circle-thickness) solid rgba(var(--main-color), 0);
  animation: spin 1s infinite linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.spinner .spinner-message {
  background-color: #fff;
  padding: 1rem;
  color: black;
  border-radius: 4px;
  margin-top: 1rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
.skip-to-content {
  position: absolute;
  top: 10px;
  left: -200px;
  z-index: 20;
  background-color: #000;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
  transition: left 0.2s;
  text-decoration: underline;
}
.skip-to-content:focus {
  left: 10px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "menuicon brand ." "leftmenu leftmenu leftmenu";
  text-transform: uppercase;
  height: 48px;
  padding-left: 1rem;
  padding-right: 1rem;
}
header .menu-icon-wrapper {
  display: block;
  grid-area: menuicon;
  background-color: #000;
  position: relative;
  z-index: 10;
  padding-top: 1em;
}
header .menu-icon-wrapper .menu-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Hamburger%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2223px%22%20height%3D%2223px%22%20viewBox%3D%220%200%2023%2023%22%20style%3D%22enable-background%3Anew%200%200%2023%2023%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%222.6%22%20y%3D%223.6%22%20width%3D%2218%22%20height%3D%223%22%20fill%3D%22%23ffffff%22%2F%3E%0D%0A%3Crect%20x%3D%222.6%22%20y%3D%2210%22%20width%3D%2218%22%20height%3D%223%22%20fill%3D%22%23ffffff%22%2F%3E%0D%0A%3Crect%20x%3D%222.6%22%20y%3D%2216.3%22%20width%3D%2218%22%20height%3D%223%22%20fill%3D%22%23ffffff%22%2F%3E%0D%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: inline-block;
  height: 23px;
  text-indent: -9999px;
  width: 23px;
  opacity: 0.5;
}
header .brand-wrapper {
  background-color: #000;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}
header .brand-wrapper .brand {
  grid-area: brand;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  padding-top: 1rem;
}
header nav.left-menu {
  grid-area: leftmenu;
  background-color: #000;
  position: relative;
  top: -204px;
  transition: top 0.4s;
}
header nav.left-menu.open {
  top: 0;
}
header nav.left-menu ul {
  display: grid;
  gap: 2em;
  padding: 1em 0;
  list-style-type: none;
  margin-left: 0;
}
header nav.left-menu ul li a {
  color: #fff;
  font-size: 0.85em;
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

main {
  padding: 2rem 1rem;
  max-width: 80rem;
  margin: 0 auto;
}
main .description {
  margin-bottom: 3rem;
}
main .description h1 {
  margin-bottom: 0.5rem;
}
main .movies-container {
  display: grid;
  row-gap: 2rem;
  list-style-type: none;
}
main .movies-container img {
  display: block;
  max-width: 100%;
}
main .movies-container .movie-title {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}
main .movies-container .movie-title .ratings-row {
  display: flex;
  flex-basis: 20%;
  justify-content: flex-end;
}
main .movies-container .movie-title .ratings-row img {
  margin-right: 0.5rem;
  height: 22px;
  width: auto;
}

@media (min-width: 699px) {
  header {
    display: flex;
  }
  header .menu-icon-wrapper {
    display: none;
  }
  header .brand-wrapper .brand {
    left: 0;
    transform: translateX(0);
  }
  header nav.left-menu {
    display: flex;
    align-items: center;
    position: static;
    padding-top: 1em;
  }
  header nav.left-menu ul {
    display: flex;
    gap: 2rem;
    margin-left: 3rem;
  }
  header nav.left-menu ul li {
    cursor: pointer;
  }

  .movies-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
@media (min-width: 1024px) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=styles.css.map */
