mixin movieCard(movie, index)
  li
    a(href= movie.link, id= index == 0 ? "first-movie" : "")
      img(src= movie.image, alt= movie.title)
    div.movie-title
      a(href= movie.link, tabindex="-1")= movie.title
      if movie.review
        a.ratings-row(href= movie.review.link, target="_blank", title= movie.review.freshness ? movie.review.freshness.toUpperCase() : "Unknown")
          if movie.review.freshness
            img(src=`images/${movie.review.freshness}.png`)
          span= movie.review.percentage ? movie.review.percentage + '%' : ''