mixin navMenu()
  nav.left-menu
    ul
      li 
        a.popular-now(tabindex="1") Leaving / Popular Now
      li 
        a.all-time-favorites(tabindex="1") Leaving / All Time Favorites
      li 
        a.reviews Leaving With Tomatometer
      li 
        a(href="https://www.criterionchannel.com", target="_blank") CriterionChannel.com 