include _navMenu

mixin pageHeader()
  header
    div.menu-icon-wrapper.noselect
      i.menu-icon
    div.brand-wrapper.noselect
      div.brand
        div Criterion
        div Must
        div Watch
    +navMenu()